

.flagStyle{
  cursor: pointer;
  background-color: #f0f0f0;
}

.flagStyle:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  border: 1px solid gray !important;
}
